TQ Email Automation — Lead Lifecycle Engine.json
{
  "name": "TQ Email Automation — Lead Lifecycle Engine",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const CONFIG = {\n  brand:           \"Tech Quarters\",\n  fromName:        \"Marc, Tech Quarters\",\n  fromEmail:       \"onboarding@resend.dev\",\n  replyTo:         \"wmarc2862@gmail.com\",\n  calendarLink:    \"https://cal.com/techquarters/discovery\",\n  meetingLabel:    \"30-min discovery call\",\n  topic:           \"automating your lead follow-up\",\n  offerOneLiner:   \"We'll map out your full email automation system in 30 minutes.\",\n  proofClient:     \"a Dubai-based real estate agency\",\n  proofProblem:    \"leads going cold after the first inquiry\",\n  proofStory:      \"They were losing 60% of leads in the first 48 hours. We set up this exact system and their booked-call rate doubled in three weeks.\",\n  timezone:        \"Asia/Manila\",\n  sendWindowStart: 8,\n  sendWindowEnd:    20,\n  followUp1Seconds:  5,\n  followUp2Seconds:  5,\n  followUp3Seconds:  5,\n  notionDatabaseId: \"f3ddf6e3f5c14a058097f14a9104a1f2?v=6b924ed52a084925af7f2adcb0b3b554\",\n  resendApiKey:     \"re_bX38x9xw_CwsHiqKLt8Dkww2Kds7dM4Qk\"\n};\n\nreturn [{ json: { CONFIG } }];"
      },
      "id": "b45ade4b-6a2d-4095-b2f7-b9409f62f6d2",
      "name": "BRAND CONFIG (edit here only)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -25712,
        112
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "135eaf9e-f4bf-46f7-a8e8-6cafeee135f5",
      "name": "Lead Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -25648,
        -160
      ],
      "webhookId": "lead-intake"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-event",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cde0f93d-5ad3-4e7f-9c2d-3506363e8b18",
      "name": "Booking Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -25584,
        752
      ],
      "webhookId": "booking-event"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "cd031acf-7c9a-4ff1-8e42-843a07b2a369",
      "name": "Respond 200 - Intake",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -25408,
        -224
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "0ef8c23d-f3f2-4b01-a76f-12d4a8ac9dc4",
      "name": "Respond 200 - Booking",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -25360,
        896
      ]
    },
    {
      "parameters": {
        "jsCode": "const body   = $('Lead Intake Webhook').first().json.body || $('Lead Intake Webhook').first().json;\nconst config = $('BRAND CONFIG (edit here only)').first().json.CONFIG;\n\nconst lead = {\n  firstName:   body.firstName || body.first_name || body.name?.split(' ')[0] || 'there',\n  lastName:    body.lastName  || body.last_name  || body.name?.split(' ').slice(1).join(' ') || '',\n  email:       (body.email || '').toLowerCase().trim(),\n  phone:       body.phone || body.phone_number || '',\n  source:      body.source || body.utm_source || 'form',\n  createdAt:   new Date().toISOString(),\n  stage:       'New',\n  booked:      false,\n  CONFIG:      config\n};\n\nif (!lead.email) throw new Error('Lead payload missing email — check form field mapping.');\n\nreturn [{ json: lead }];"
      },
      "id": "25a2d38b-c21a-4acb-8d86-844a99ff2c91",
      "name": "Normalise Lead Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -25168,
        -160
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "={{ $json.CONFIG.notionDatabaseId }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "title": "={{ $json.firstName + ' ' + $json.lastName + ' — ' + $json.email }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Email|email",
              "type": "email",
              "emailValue": "={{ $json.email }}"
            },
            {
              "key": "CreatedAt|date",
              "type": "date",
              "date": "={{ $json.createdAt }}"
            },
            {
              "key": "Booked|checkbox",
              "type": "checkbox"
            },
            {
              "key": "Phone|rich_text",
              "textContent": "={{ $json.phone }}"
            },
            {
              "key": "FirstName|rich_text",
              "textContent": "={{ $json.firstName }}"
            },
            {
              "key": "Source|select",
              "selectValue": "={{ $json.source }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7deaa8f5-21a6-45ad-b4f0-8ecd998af71f",
      "name": "CRM - Create Lead Record (Notion)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -24928,
        -160
      ],
      "credentials": {
        "notionOAuth2Api": {
          "id": "vdKHOX0viEpVmqyf",
          "name": "Notion OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pull lead from the last node that had it, not from Notion's response\nconst lead   = $('Normalise Lead Payload').first().json;\nconst C      = lead.CONFIG;\nconst pageId = $('CRM - Create Lead Record (Notion)').first().json.id;\n\nconst subject = `We got your request, ${lead.firstName}`;\n\nconst html = `\n<p>Hi ${lead.firstName},</p>\n<p>Thanks for reaching out to <strong>${C.brand}</strong>. ${C.offerOneLiner}</p>\n<p>Quickest next step — grab a time that works for you:<br>\n<a href=\"${C.calendarLink}\">Book your ${C.meetingLabel} →</a></p>\n<p>If the timing isn't right, just reply to this email and let me know.</p>\n<p>${C.fromName}</p>\n`;\n\nreturn [{ json: {\n  to:      lead.email,\n  from:    `${C.fromName} <${C.fromEmail}>`,\n  replyTo: C.replyTo,\n  subject,\n  html,\n  leadPageId: pageId,\n  lead,\n  CONFIG:  C\n}}];"
      },
      "id": "c002502c-4139-4f42-80c1-af0827b6672d",
      "name": "Build Confirmation Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24688,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.CONFIG.resendApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.from }}"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "reply_to",
              "value": "={{ $json.replyTo }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.html }}"
            }
          ]
        },
        "options": {}
      },
      "id": "96e7e4bc-2e76-4677-8bb3-46f9317e1453",
      "name": "Send - Confirmation (t=0)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -24448,
        -160
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('BRAND CONFIG (edit here only)').item.json.CONFIG.followUp1Seconds }}",
        "unit": "hours"
      },
      "id": "267fe36f-dc77-4066-9626-0691d5624b5e",
      "name": "Wait FU1 (config hours)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -24208,
        -160
      ],
      "webhookId": "10d016fa-737e-4b9e-9d04-b05c6285d9c3"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $('BRAND CONFIG (edit here only)').first().json.CONFIG.notionDatabaseId }}",
          "mode": "id"
        },
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Email|email",
              "condition": "equals",
              "emailValue": "={{ $('Build Confirmation Email').first().json.lead.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "61a2bc1e-5009-40d8-bd72-109e0fdd3346",
      "name": "Check Booked? (before FU1)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -23968,
        -160
      ],
      "credentials": {
        "notionOAuth2Api": {
          "id": "vdKHOX0viEpVmqyf",
          "name": "Notion OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.property_booked }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "cd69873f-2b1d-49aa-88f2-6d29d33bbe9c"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a8d81e52-3380-4262-9548-4df5fb053298",
      "name": "Not booked yet? - FU1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -23728,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead   = $('Build Confirmation Email').first().json.lead;\nconst C      = $('Build Confirmation Email').first().json.CONFIG;\n\nconst subject = `Want me to hold a slot, ${lead.firstName}?`;\nconst html = `\n<p>Hi ${lead.firstName},</p>\n<p>I saw you reached out about <strong>${C.topic}</strong> but haven't booked yet — no stress.</p>\n<p>Here's the link again (takes 30 seconds):<br>\n<a href=\"${C.calendarLink}\">Pick a time →</a></p>\n<p>Happy to work around your schedule.</p>\n<p>${C.fromName}</p>\n`;\n\nreturn [{ json: {\n  to:      lead.email,\n  from:    `${C.fromName} <${C.fromEmail}>`,\n  replyTo: C.replyTo,\n  subject,\n  html,\n  lead,\n  CONFIG: C\n}}];"
      },
      "id": "8e661694-99b1-4b74-9a3a-e07c48f8f8e2",
      "name": "Build Follow Up 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23488,
        -224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.CONFIG.resendApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.from }}"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "reply_to",
              "value": "={{ $json.replyTo }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.html }}"
            }
          ]
        },
        "options": {}
      },
      "id": "efea2c15-abc8-4780-a99b-f97dee82fa50",
      "name": "Send - Follow Up 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -23248,
        -224
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('BRAND CONFIG (edit here only)').item.json.CONFIG.followUp2Seconds }}",
        "unit": "hours"
      },
      "id": "39b1ab66-6c6a-4fcc-8ff8-6da702445747",
      "name": "Wait FU2 delta",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -23008,
        -224
      ],
      "webhookId": "01df08a8-2e9a-425e-8d5f-5163f0ad5fcb"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $('BRAND CONFIG (edit here only)').first().json.CONFIG.notionDatabaseId }}",
          "mode": "id"
        },
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Email|email",
              "condition": "equals",
              "emailValue": "={{ $('Build Confirmation Email').first().json.lead.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0014c489-c97d-4b95-9cc4-e45a123c2954",
      "name": "Check Booked? (before FU2)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -22768,
        -224
      ],
      "credentials": {
        "notionOAuth2Api": {
          "id": "vdKHOX0viEpVmqyf",
          "name": "Notion OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.property_booked }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "67f32d2b-082c-46e6-930e-97960ab8bce7"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5b66e912-e50b-440d-a225-43b7767baf4f",
      "name": "Not booked yet? - FU2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -22528,
        -224
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead   = $('Build Confirmation Email').first().json.lead;\nconst C      = $('Build Confirmation Email').first().json.CONFIG;\n\nconst subject = `How ${C.proofClient} handled ${C.proofProblem}`;\nconst html = `\n<p>Hi ${lead.firstName},</p>\n<p>Quick one: ${C.proofStory}</p>\n<p>Worth a <strong>${C.meetingLabel}</strong> to see if the same applies to you?<br>\n<a href=\"${C.calendarLink}\">Book here →</a></p>\n<p>${C.fromName}</p>\n`;\n\nreturn [{ json: {\n  to:      lead.email,\n  from:    `${C.fromName} <${C.fromEmail}>`,\n  replyTo: C.replyTo,\n  subject,\n  html,\n  lead,\n  CONFIG: C\n}}];"
      },
      "id": "a7f70d30-7d87-4bc1-a4cd-7c5dac6075ea",
      "name": "Build Follow Up 2 (proof)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -22288,
        -272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.CONFIG.resendApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.from }}"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "reply_to",
              "value": "={{ $json.replyTo }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.html }}"
            }
          ]
        },
        "options": {}
      },
      "id": "62037f28-51b0-4900-8fb6-3ec35bc3bfec",
      "name": "Send - Follow Up 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -22048,
        -272
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('BRAND CONFIG (edit here only)').item.json.CONFIG.followUp3Seconds }}",
        "unit": "hours"
      },
      "id": "9fac1610-4126-46e3-98f8-bd670d1eb26a",
      "name": "Wait FU3 delta",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -21808,
        -272
      ],
      "webhookId": "ecda7005-cb4a-452e-8942-8151a21dbc09"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('BRAND CONFIG (edit here only)').item.json.CONFIG.notionDatabaseId }}",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Email|email",
              "condition": "equals",
              "emailValue": "={{ $('Build Confirmation Email').first().json.lead.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8d0d77ad-809f-4592-9353-a6e7ee302c26",
      "name": "Check Booked? (before FU3)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -21568,
        -272
      ],
      "credentials": {
        "notionOAuth2Api": {
          "id": "vdKHOX0viEpVmqyf",
          "name": "Notion OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.property_booked }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "42bcec46-cf44-4a81-8ed1-33a789d9492e"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6c9c7a7f-5e5d-4ae6-9c70-65bf142d5db2",
      "name": "Not booked yet? - FU3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -21328,
        -272
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead   = $('Build Confirmation Email').first().json.lead;\nconst C      = $('Build Confirmation Email').first().json.CONFIG;\n\nconst subject = `Should I close your file, ${lead.firstName}?`;\nconst html = `\n<p>Hi ${lead.firstName},</p>\n<p>I don't want to keep landing in your inbox if the timing's off.</p>\n<p>If you still want that <strong>${C.meetingLabel}</strong>, the link is here:<br>\n<a href=\"${C.calendarLink}\">Book a time →</a></p>\n<p>Either way — all the best.</p>\n<p>${C.fromName}</p>\n`;\n\nreturn [{ json: {\n  to:      lead.email,\n  from:    `${C.fromName} <${C.fromEmail}>`,\n  replyTo: C.replyTo,\n  subject,\n  html,\n  lead,\n  CONFIG: C\n}}];"
      },
      "id": "b842167f-b03a-46fc-97e5-f8f5dbd8cbb6",
      "name": "Build Follow Up 3 (breakup)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -21088,
        -304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.CONFIG.resendApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.from }}"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "reply_to",
              "value": "={{ $json.replyTo }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.html }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a7ae8a82-553f-4830-9161-bd4d8bd041c9",
      "name": "Send - Follow Up 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20848,
        -304
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Check Booked? (before FU3)').first().json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Stage|status",
              "statusValue": "Cold"
            }
          ]
        },
        "options": {}
      },
      "id": "089d0398-8d30-4c50-9267-92ffce83c189",
      "name": "CRM - Mark Cold",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -20608,
        -304
      ],
      "credentials": {
        "notionOAuth2Api": {
          "id": "vdKHOX0viEpVmqyf",
          "name": "Notion OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.eventType }}",
              "rightValue": "cancelled",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "id": "ce033120-ea67-4f31-9948-f47ee643a578"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "40314155-e317-4bf3-8ff9-06b81d1bd4fd",
      "name": "Booked or Cancelled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -25136,
        512
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $json.CONFIG.notionDatabaseId }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Email|email",
              "condition": "equals",
              "emailValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "280043e3-5d21-429f-a09b-c8dc82378a7d",
      "name": "Find Lead Record (booked)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -24912,
        416
      ],
      "credentials": {
        "notionOAuth2Api": {
          "id": "vdKHOX0viEpVmqyf",
          "name": "Notion OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Stage|status",
              "statusValue": "Booked"
            },
            {
              "key": "Booked|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "d45be766-baf4-4a9e-8529-235b3b5efff0",
      "name": "CRM - Mark Booked + Suppress",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -24688,
        416
      ],
      "credentials": {
        "notionOAuth2Api": {
          "id": "vdKHOX0viEpVmqyf",
          "name": "Notion OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const booking   = $('BRAND CONFIG (edit here only)1').first().json;\nconst C         = booking.CONFIG;\nconst record    = $('Find Lead Record (booked)').first().json;\nconst firstName = record.property_first_name || 'there';\n\nconst subject = `You're booked — here's what's next`;\nconst html = `\n<p>Hi ${firstName},</p>\n<p>Your <strong>${C.meetingLabel}</strong> is confirmed.</p>\n<p><strong>When:</strong> ${booking.eventStartTime ? new Date(booking.eventStartTime).toLocaleString('en-GB', { timeZone: C.timezone }) : 'see your calendar invite'}</p>\n<p>You'll get a reminder 24 hours before and again 1 hour before.</p>\n<p>If anything changes, you can reschedule directly from your calendar invite.</p>\n<p>${C.fromName}</p>\n`;\n\nreturn [{ json: {\n  to:             booking.email,\n  from:           `${C.fromName} <${C.fromEmail}>`,\n  replyTo:        C.replyTo,\n  subject,\n  html,\n  CONFIG:         C,\n  eventStartTime: booking.eventStartTime\n}}];"
      },
      "id": "3bac2d9b-a982-4180-9fe1-4f736725b19f",
      "name": "Build Booking Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24464,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.CONFIG.resendApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.from }}"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "reply_to",
              "value": "={{ $json.replyTo }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.html }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e7b8dbd1-8a9c-47ee-8d8d-24c6ca6710ca",
      "name": "Send - Booking Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -24320,
        832
      ]
    },
    {
      "parameters": {
        "amount": 23,
        "unit": "hours"
      },
      "id": "3c282571-5a10-4f0c-a28b-a9b9942d5983",
      "name": "Wait 23h (24h reminder)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -24016,
        592
      ],
      "webhookId": "c9a7e6a6-9729-4ea7-8e30-956113065750"
    },
    {
      "parameters": {
        "jsCode": "const prev  = $('Build Booking Confirmation').first().json;\nconst C     = prev.CONFIG;\nconst email = prev.to;\n\nreturn [{ json: {\n  to:      email,\n  from:    `${C.fromName} <${C.fromEmail}>`,\n  replyTo: C.replyTo,\n  subject: `Reminder — your call is tomorrow`,\n  html:    `<p>Just a heads up — your ${C.meetingLabel} is tomorrow. Looking forward to it.</p><p>${C.fromName}</p>`,\n  CONFIG:  C,\n  eventStartTime: prev.eventStartTime\n}}];"
      },
      "id": "c4be3277-2b36-4db4-907f-2438bbb140a0",
      "name": "Build 24h Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23792,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.CONFIG.resendApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.from }}"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "reply_to",
              "value": "={{ $json.replyTo }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.html }}"
            }
          ]
        },
        "options": {}
      },
      "id": "79dd6920-5479-43f0-b8e8-48dc485d0a27",
      "name": "Send - 24h Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -23568,
        592
      ]
    },
    {
      "parameters": {
        "amount": 23,
        "unit": "hours"
      },
      "id": "c29b2b98-671f-486f-8440-5e91954f0c1b",
      "name": "Wait 23h (1h reminder)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -23344,
        592
      ],
      "webhookId": "7435db97-5df8-430c-bed1-83e889e59d8e"
    },
    {
      "parameters": {
        "jsCode": "const prev  = $('Build Booking Confirmation').first().json;\nconst C     = prev.CONFIG;\nconst email = prev.to;\n\nreturn [{ json: {\n  to:      email,\n  from:    `${C.fromName} <${C.fromEmail}>`,\n  replyTo: C.replyTo,\n  subject: `Starting in 1 hour — see you soon`,\n  html:    `<p>Your ${C.meetingLabel} starts in about an hour. Talk soon.</p><p>${C.fromName}</p>`,\n  CONFIG:  C\n}}];"
      },
      "id": "3f7bbf1e-1c3f-4c51-ac6e-77c5fba56d23",
      "name": "Build 1h Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23120,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.CONFIG.resendApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.from }}"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "reply_to",
              "value": "={{ $json.replyTo }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.html }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3760676a-e6eb-43be-8aaf-f7bdf7adc348",
      "name": "Send - 1h Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -22896,
        592
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $('BRAND CONFIG (edit here only)1').first().json.CONFIG.notionDatabaseId }}",
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Email|email",
              "condition": "equals",
              "emailValue": "={{ $('BRAND CONFIG (edit here only)1').first().json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f1e9409f-4861-40c0-8db2-638834735cac",
      "name": "Find Lead Record (cancelled)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -24912,
        608
      ],
      "credentials": {
        "notionOAuth2Api": {
          "id": "vdKHOX0viEpVmqyf",
          "name": "Notion OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Stage|status",
              "type": "status",
              "statusValue": "Cancelled"
            },
            {
              "key": "Booked|checkbox",
              "type": "checkbox"
            }
          ]
        },
        "options": {}
      },
      "id": "8afedf55-53e4-4acf-9154-6580fb299de7",
      "name": "CRM - Mark Cancelled - Re-engage",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -24688,
        608
      ],
      "credentials": {
        "notionOAuth2Api": {
          "id": "vdKHOX0viEpVmqyf",
          "name": "Notion OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Booking Event Webhook').first().json.body || $('Booking Event Webhook').first().json;\n\nconst CONFIG = {\n  brand:           \"Tech Quarters\",\n  fromName:        \"Marc, Tech Quarters\",\n  fromEmail:       \"onboarding@resend.dev\",\n  replyTo:         \"wmarc2862@gmail.com\",\n  calendarLink:    \"https://cal.com/techquarters/discovery\",\n  meetingLabel:    \"30-min discovery call\",\n  timezone:        \"Asia/Manila\",\n  notionDatabaseId: \"f3ddf6e3f5c14a058097f14a9104a1f2\",\n  resendApiKey:    \"re_bX38x9xw_CwsHiqKLt8Dkww2Kds7dM4Qk\"\n};\n\nreturn [{ json: {\n  email:          (body.email || body.attendee?.email || '').toLowerCase().trim(),\n  eventType:      body.eventType || body.type || 'booked',\n  eventStartTime: body.eventStartTime || body.startTime || null,\n  CONFIG\n}}];"
      },
      "id": "9dca66ab-190a-48d4-8cae-f5c3fa96084e",
      "name": "BRAND CONFIG (edit here only)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -25360,
        512
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Lead Intake Webhook": {
      "main": [
        [
          {
            "node": "BRAND CONFIG (edit here only)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond 200 - Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Event Webhook": {
      "main": [
        [
          {
            "node": "Respond 200 - Booking",
            "type": "main",
            "index": 0
          },
          {
            "node": "BRAND CONFIG (edit here only)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BRAND CONFIG (edit here only)": {
      "main": [
        [
          {
            "node": "Normalise Lead Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise Lead Payload": {
      "main": [
        [
          {
            "node": "CRM - Create Lead Record (Notion)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM - Create Lead Record (Notion)": {
      "main": [
        [
          {
            "node": "Build Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Confirmation Email": {
      "main": [
        [
          {
            "node": "Send - Confirmation (t=0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send - Confirmation (t=0)": {
      "main": [
        [
          {
            "node": "Wait FU1 (config hours)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait FU1 (config hours)": {
      "main": [
        [
          {
            "node": "Check Booked? (before FU1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Booked? (before FU1)": {
      "main": [
        [
          {
            "node": "Not booked yet? - FU1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not booked yet? - FU1": {
      "main": [
        [
          {
            "node": "Build Follow Up 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Follow Up 1": {
      "main": [
        [
          {
            "node": "Send - Follow Up 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send - Follow Up 1": {
      "main": [
        [
          {
            "node": "Wait FU2 delta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait FU2 delta": {
      "main": [
        [
          {
            "node": "Check Booked? (before FU2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Booked? (before FU2)": {
      "main": [
        [
          {
            "node": "Not booked yet? - FU2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not booked yet? - FU2": {
      "main": [
        [
          {
            "node": "Build Follow Up 2 (proof)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Follow Up 2 (proof)": {
      "main": [
        [
          {
            "node": "Send - Follow Up 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send - Follow Up 2": {
      "main": [
        [
          {
            "node": "Wait FU3 delta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait FU3 delta": {
      "main": [
        [
          {
            "node": "Check Booked? (before FU3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Booked? (before FU3)": {
      "main": [
        [
          {
            "node": "Not booked yet? - FU3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not booked yet? - FU3": {
      "main": [
        [
          {
            "node": "Build Follow Up 3 (breakup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Follow Up 3 (breakup)": {
      "main": [
        [
          {
            "node": "Send - Follow Up 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send - Follow Up 3": {
      "main": [
        [
          {
            "node": "CRM - Mark Cold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booked or Cancelled?": {
      "main": [
        [
          {
            "node": "Find Lead Record (booked)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Lead Record (cancelled)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead Record (booked)": {
      "main": [
        [
          {
            "node": "CRM - Mark Booked + Suppress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM - Mark Booked + Suppress": {
      "main": [
        [
          {
            "node": "Build Booking Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Booking Confirmation": {
      "main": [
        [
          {
            "node": "Send - Booking Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send - Booking Confirmation": {
      "main": [
        [
          {
            "node": "Wait 23h (24h reminder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 23h (24h reminder)": {
      "main": [
        [
          {
            "node": "Build 24h Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build 24h Reminder": {
      "main": [
        [
          {
            "node": "Send - 24h Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send - 24h Reminder": {
      "main": [
        [
          {
            "node": "Wait 23h (1h reminder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 23h (1h reminder)": {
      "main": [
        [
          {
            "node": "Build 1h Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build 1h Reminder": {
      "main": [
        [
          {
            "node": "Send - 1h Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead Record (cancelled)": {
      "main": [
        [
          {
            "node": "CRM - Mark Cancelled - Re-engage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BRAND CONFIG (edit here only)1": {
      "main": [
        [
          {
            "node": "Booked or Cancelled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f5405f1d-c47f-4bb1-8a8c-064df925aba1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "788538fe94f17a7499d13c3832814c4f357865daba2dc045c44ebb25eb919201"
  },
  "nodeGroups": [],
  "id": "FAf6SD1lhVqKL0KN",
  "tags": []
}